.parrafo {
  color: white;
  font-size: 14.28571px; }

.event-size {
  height: 166.66667px;
  width: 250px;
  border: blue solid 3.0303px; }

.event2-size {
  height: 200px;
  width: 333.33333px;
  border: blue solid 3.0303px; }

.titulos {
  color: blue;
  font-size: 33.33333px; }
